/* Estilos generales para todos los elementos */
* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans Unicode';
}

/* Estilos específicos para el cuerpo de la página */
body {
    /* Fondo de la página */
    background-image: url(../images/HomeSlideThree.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

/* Estilos para enlaces */
a {
    color: blue;
}

/* Estilos para el tamaño del texto en los elementos <span> */
span {
    font-size: 15px;
}

/* Estilos específicos para el formulario de inicio de sesión */
.login {
    /* Dimensiones y posicionamiento */
    width: 300px;
    height: 480px;
    margin: 0 auto;
    padding: 15px 10px;
    text-align: center;
    /* Aspecto visual */
    background-color: white;
    border-radius: 30px;
    border: grey solid;
    border-width: 7px;
    box-shadow: 0 0 3px grey;
    /* Ubicación en el z-index */
    position: relative;
    z-index: 2;
}

/* Estilos para los campos de entrada del formulario */
.login form input {
    margin: 5px;
    padding: 4px;
}

/* Estilos para los campos de entrada cuando están enfocados */
.login form input:focus,
input[type]:focus {
    border-color: #f061ff;
    border-style: solid;
    border-radius: 3px;
    outline: 0 none;
}

/* Estilos para el botón de envío en el formulario */
.login form .boton .botonsubmit {
    padding: 5px;
    color: white;
    font-weight: bold;
    border: green solid;
    border-radius: 15px;
    background-color: rgb(71, 221, 71);
    border-width: 0.5px;
}
